################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HttpDemo/.vs
/HttpDemo/HttpDemo/obj
/.vs
/HttpDemo/HttpDemo/bin/Debug/net9.0
